In [3]:
!pip install Scweet==1.6
!pip install -r requirement.txt

In [1]:
from Scweet.scweet import scrape
from Scweet.user import get_user_information, get_users_following, get_users_followers
import pandas as pd

In [2]:
stores = pd.read_csv("scweet용_가게정보.csv");

In [3]:
stores.head()

   Unnamed: 0      name
0      274317      언양식당
1      274318   언양암소불고기
2      274319  언양암소숯불갈비
3      274320     언양양조장
4      274321  언양우하하불고기

In [ ]:
for index, row in stores.iterrows():
    # scrape top tweets with the words 'covid','covid19' in proximity and without replies.
    # the process is slower as the interval is smaller (choose an interval that can divide the period of time betwee, start and max date)
    data = scrape(words=[row['name']], since="2021-08-01", until="2021-08-31", from_account = None,interval=3, 
          headless=True, display_type="Top", save_images=False, proxy = None, save_dir = 'outputs',
                 resume=False, filter_replies=True, proximity=False)